body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

#color_flipper, #counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    position: relative;
    font-size: 1rem;
    border: 1px solid black;
    box-shadow: 3px 3px;
    padding: 2px;
    background-color: white;
}
.buttonGroup{
    display: flex;
}

button{
    position: relative;
    border:none;
    outline:none;
    background-color: white;
    border: 1px solid black;
    font-size: x-large;
    box-shadow: 3px 3px;
}

button:hover{
    box-shadow: none;
    left: 3px;
    top: 3px;
}