body{
    margin: 0;
    padding: 0;
}

#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    border: 1px solid black;
    box-shadow: 3px 3px;
    padding: 2px;
    background-color: white;
}

#changeBtn{
    position: relative;
    border:none;
    outline:none;
    background-color: white;
    border: 1px solid black;
    font-size: x-large;
    box-shadow: 3px 3px;
}

#changeBtn:hover{
    box-shadow: none;
    left: 3px;
    top: 3px;
}